*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  width: 100%;
  height: 100%;
}
a{
  text-decoration: none;
}
ul li{
  list-style:none;
}
ol li{
  list-style:none;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.auto-img {
  width: 100%;
  display: block;
}
img{
  vertical-align: bottom;
}
